nav ul{
    list-style-type:none
      margin:0;
      padding:0;
  }
  nav li{display:inline;
    margin-right=10px;
    }
  nav a{
    text decoration:none;
    color:blue;
    padding:5px;
  }
  title{
    color:blue;
    h1{
      background-color:black;
    }
  }
  h3{
    color:blue;
    fony-style:italic;
    font-size:40px
    }
  
  
  p{
  font-family:roboto;
  } 
  button{
    color:white;
    background-color:green;
  }
  footer{
    color:blue;
    section{
      color:green;
       }
    
    
    
  
    