nav ul{
  list-style-type:none;
    margin:0;
    padding:0;
}
nav li{display:inline;
  margin-right:10px;
  }
nav a{
  text-decoration:none;
  color:blue;}
title{
  color:blue;
   }
  h1{
    color:black;
  }

h3{
  color:blue;
  font-style:italic;
  font-size:40px;
  }


p{
font-family:roboto;
} 
button{
  color:white;
  background-color:green;
}
footer{
  color:blue;
     }
  section{
    color:green;
     }